body {
	margin-left: 10%;
	margin-right: 10%;
}

nav {
	background-image: url("./img/nav_background.png");
}

nav>ul {
	float: center;
}

nav>ul>li {
	display: inline-block;
	padding-right: 11%;
	line-height: 40px;
	list-style: none;
	font-weight: bold;
}

nav>ul>li>a {
	text-decoration: none;
	color: gray;
}

nav>ul>li>a:hover {
	color: white;
}

.subscribe>a{
	padding-left:25px;
	background-image: url('./img/rss.png');
	background-repeat: no-repeat;
	
}

#intro {
	position: relative;
	height: 200px;
	background-image: url("./img/intro_background.png");
	color: white;
	border-radius: 15px 15px 15px 15px;
	overflow: hidden;
}

#intro>header {
	position: relative;
	height: 15px;
	left: 30px;
	top: 10%;
	line-height: 15px;
	z-index: 4;
}

#intro>p {
	position: relative;
	height: 25px;
	width: 40%;
	left: 30px;
	top: 20%;
	line-height: 25px;
	font-size: 9px;
	z-index: 5;
}

#intro>img {
	position: relative;
	float: right;
	top: -40%;
	width: 65%;
	height: 200px;
	z-index: 3;
}

#content{
	overflow:hidden;
}
#mainContent{
	width: 70%;
	float: left;
}
#content>aside{
	width: 30%;
	height: 1300px;
	float: right;
	background-color: #decdbe;
}
#content>aside>section{
	position: relative;
	left: 5%;
	width: 90%;
	border-radius: 15px 15px 15px 15px;
	background-image: url('./img/sidebar_section_background.png');
}
#content>aside>section>header{
	position: relative;
	left: 5%;
}
#content>a side>section>ul{
	list-style: none;
}
#content>aside>section>ul>li>a{
	font-size: 13px;
	text-decoration: none;
	color: black;
}
.blogPost>header>p{
	font-style: italic;
	color: gray;
}

.blogPost>div {
	-moz-column-count:2;
	-webkit-column-count:2;
	-moz-column-gap:20px;
	-webkit-column-gap:20px;
}
.blogPost>div>img {
	position: relative;
	width: 100%	;
	height: 200px;
}
.blogPost>div>video {
	position: relative;
	width: 100%	;
	height: 200px;
}
.blogPost>div>p {
	font-size: 12px;
}
.blogPost>div>p>mark {
	font-size: 15px;
}

#actors>article:nth-child(2n){
	overflow: hidden;
	width:350px;
	height: 180px;
}
#actors>article:nth-child(2n+1){
	overflow: hidden;
	height: 180px;
	width: 350px;
	border-radius: 10px 10px 10px 10px;
	background-color: #decdbe;
}
#actors>article>header:nth-child(2n){
	float: left;
	width: 40%;
	padding-left:10px;
	font-size:13px;
	margin-top: 130px;
}
#actors>article>header:nth-child(2n+1){
	float: left;
	width: 60%;
	padding-left:10px;
	font-size:13px;
	margin-top: 130px;
}
#actors>article>header>p{
	float: left;
	width: 20%;
}

footer{
	background-image: url("./img/nav_background.png");
	background-size: cover;
}
footer>div{
	padding-left: 5%;
}
footer>div>section{
	padding-left: 7%;
	display: inline-block;
}
footer>div>section>h3{
	color: white;
}
footer>div>section>p{
	font-size: 13px;
	color: gray;
}
#about>p>a{
	color: gray;
}
footer>div>section>ul>li{
	color: gray;
}
footer>div>section>ul>li>a{
	color: gray;
	font-size: 13px;
}